<div class="row mt-2 mb-1" style="height: 50px;">
  <div class="col-md-6 bg-light">
    <h5 class="mt-2">Set a Frequency</h5>
  </div>
  <div class="col-6 bg-light">
    <button type="button" class="btn btn-light float-right mt-1" (click)="backToOldPage();">&nbsp;<i class="fa fa-arrow-left pr-1"></i>Back</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  nav-fil w-100">
          <li class="nav-item mr-auto" routerLinkActive="active" *ngFor="let option of topNavOptions">
            <a class="nav-link" routerLink="{{option.url}}">{{option.name}} </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<hr style="border-top: 1px solid gainsboro;margin-top: 0;">
