<div class="row" style="min-height: 200px;">
  <div class="col-12 text-center mt-auto mb-auto">
    <form>
      <div class="form-group row">
        <label for="staticEvery" class="col-sm-1 col-form-label">Day</label>
        <div class="col-sm-1">
          <input type="number" [(ngModel)]="monthlyData.day" name="day" class="form-control" id="staticEvery" max="31">
        </div>
        <label for="inputDay" class="col-sm-1 col-form-label">Of</label>
        <div class="col-sm-1">
          <input type="text" [(ngModel)]="monthlyData.time" name="time" class="form-control" id="inputDay">
        </div>
      </div>
      <div class="form-group row">
        <div class="custom-control custom-checkbox mb-3 px-4"
          *ngFor="let month of monthlyData.monthly_list;let i=index;">
          <input type="checkbox" class="custom-control-input" name="{{month.id}}" (ngModelChange)="changeDay(i);"
            [(ngModel)]="month.isSelected" id="{{month.id}}" value="{{month.id}}">
          <label class="custom-control-label" for="{{month.id}}">{{month.name}}</label>
        </div>

      </div>

    </form>
  </div>
</div>

<span class="responcibility bg-white"><span class="pr-3">SET A LIFCYCLE FOR THIS RESPONSIBILITY</span><span>
    <ui-switch size="small" defaultBgColor="red"></ui-switch>
  </span></span>
<div class="row bg-light" style="min-height: 200px;">
  <div class="col-12 m-auto">
    <span> ONGOING Section</span>
  </div>
</div>
