<div class="row  mb-1" style="height: 50px;">
  <div class="col-md-6 bg-white pt-2">
    <span *ngIf="frequencyName">You have Selected a <b>{{frequencyName.name}}</b> frequency</span>
  </div>
  <div class="col-6 bg-white">
    <button type="button" class="btn btn-primary float-right mt-1" (click)="nexPage();">NEXT&nbsp;<i
        class="fa fa-arrow-right pr-1"></i></button> <span class="float-right p-2"><b>esc</b> to cancle</span>
  </div>
</div>
