<div class="row bg-light" style="min-height: 200px;">
  <div class="col-12 mt-auto mb-auto">
    <div class="form-group row mx-auto">
      <label for="staticEmail" class="col-sm-2 col-form-label">One Time Date</label>
      <div class="col-sm-4 custom-date">
        <ng-datepicker [(ngModel)]="oneTineDate" (ngModelChange)="calculateDate();" [isOpened]="bookingStartopened"
        [options]="bookingStartCalOptions"></ng-datepicker>
      </div>

    </div>
  </div>
</div>
