<div class="row" style="min-height: 200px;">
  <div class="col-6 text-center mt-auto mb-auto">
    <form>
      <div class="form-group row">
        <div class="custom-control custom-checkbox mb-3 px-4 "  *ngFor="let day of weeklyApi.weekly_list_details;let i=index;">
          <input type="checkbox" class="custom-control-input" id="{{day.id}}" value="{{day.id}}" name="{{day.id}}"
            (ngModelChange)="changeDay(i);" [(ngModel)]="day.isSelected">
          <label class="custom-control-label" for="{{day.id}}">{{day.name}}</label>
        </div>

      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Every</label>
        <div class="col-sm-2">
          <input type="number" [(ngModel)]="weeklyApi.day" name="day" class="form-control" id="staticEvery">
        </div>
        <label for="inputPassword" class="col-sm-2 col-form-label">Week at</label>
        <div class="col-sm-4">
          <input type="text" [(ngModel)]="weeklyApi.time" name="time" class="form-control" id="inputDayAt">
        </div>
      </div>

    </form>
  </div>
</div>

<span class="responcibility bg-white"><span class="pr-3">SET A LIFCYCLE FOR THIS RESPONSIBILITY</span><span>
    <ui-switch size="small" defaultBgColor="red"></ui-switch>
  </span></span>
<div class="row bg-light" style="min-height: 200px;">
  <div class="col-12 mt-auto mb-auto">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Start Date</label>
      <div class="col-sm-4 custom-date">
        <ng-datepicker [(ngModel)]="weeklyApi.start_date" (ngModelChange)="calculateDate();"
          [isOpened]="bookingStartopened" [options]="bookingStartCalOptions"></ng-datepicker>
      </div>
      <label for="inputPassword" class="col-sm-2 col-form-label">End Date</label>
      <div class="col-sm-4 custom-date">
        <ng-datepicker [(ngModel)]="weeklyApi.end_date" (ngModelChange)="calculateDate();"
          [isOpened]="bookingStartopened" [options]="bookingEndCalOptions"></ng-datepicker>
      </div>
    </div>
  </div>
</div>
