<div class="row" style="min-height: 200px;">
  <div class="col-12 text-center mt-auto mb-auto">
    <form>
      <div class="form-group row">
        <label for="staticEvery" class="col-sm-1 col-form-label">Every</label>
        <div class="col-sm-1">
          <input type="text" class="form-control" [(ngModel)]="yearlyData.year" name="year" id="staticEvery">
        </div>
        <label for="inputmon" class="col-sm-2 col-form-label">Year Of Day</label>
        <div class="col-sm-1">
          <input type="text" class="form-control"  [(ngModel)]="yearlyData.day" name="mon"  id="inputmon">
        </div>
        <label for="inputmonAt" class="col-sm-1 col-form-label">Of</label>
        <div class="col-sm-1">
          <input type="text" class="form-control"  [(ngModel)]="yearlyData.time" name="time"  id="inputmonAt">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="custom-control custom-radio mb-3 px-4" *ngFor="let month of yearlyData.yearly_list;let i=index;">
          <input type="radio" class="custom-control-input" [(ngModel)]="monthTemp" (input)="changeDay(i);" name="month" id="{{month.id}}" value="{{month.id}}">
          <label class="custom-control-label" for="{{month.id}}">{{month.name}}</label>
        </div>

      </div>

    </form>
  </div>
</div>

<span class="responcibility bg-white"><span class="pr-3">SET A LIFCYCLE FOR THIS RESPONSIBILITY</span><span>
    <ui-switch size="small" defaultBgColor="red"></ui-switch>
  </span></span>
<div class="row bg-light" style="min-height: 200px;">
  <div class="col-12 m-auto">
    <span> ONGOING Section</span>
  </div>
</div>
