/* You can add global styles to this file, and also import other style files */


  .custom-date {
    .ngx-datepicker-container .ngx-datepicker-calendar-container {
      z-index: 10;
    }
  }
  .responcibility {
    border: 1px solid gainsboro;
    border-radius: 20px;
    padding: 10px;
  }
